<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>PortfolioApp</display-name>

    <!-- Home -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!-- About -->
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <!-- Resume -->
    <servlet>
        <servlet-name>ResumeServlet</servlet-name>
        <servlet-class>com.portfolio.servlets.ResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResumeServlet</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>

    

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
